[galaxy]
server_list = automation_hub, ansible_galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/5910538-synclist/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=AUTOMATION_HUB_TOKEN_VALUE

[galaxy_server.ansible_galaxy]
url=https://galaxy.ansible.com